- var pageRootURL = 'https://globalelite.black/';
doctype html
html(lang='ja', prefix='og: http://ogp.me/ns#')
  head
    block meta
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
    block styles
      link(
        rel='stylesheet',
        href='//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'
      )
      link(
        rel='stylesheet',
        href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'
      )
      link(rel='stylesheet', href='/src/styles.scss')
    block info
      link(rel='shortcut icon', href='/src/favicon.ico')
      link(rel='apple-touch-icon', sizes='152x152', href='/src/apple-touch-icon.png')
    block scripts
      script.
        document.documentElement.className += ' js';

  body
    block body
      header
        block header
          h1
            a(href=pageRootURL)
              img(src='/src/emblem.svg', alt='', width='30', height='27')
              img(src='/src/logo.svg', alt='グローバルエリート', width='114', height='18')

      block contents
        main#main
          block main

      footer
        block footer
          p &copy; 2016 グローバルエリート
